python/radio_scrape/radio_scrape/DBConfig.py
**/.DS_Store
python/test.py
**/__pycache__/*
**/__pycache__
**/.venv/*
**/DBConfig.py
**/db_credentials.php
scraper/test.py
**/.env
demo.mp3
only_speech.wav
temp_audio_for_ai_summary.mp3
temp_speech_only_file_trimmed.wav
temp_speech_only_file.wav
temp_voice_only_file.wav
scraper/test.py
ui/.gitignore
temp_lang_detect_excerpt_file.wav
temp_voice_only_file_trimmed.wav
scraper/test.py
.cache
**/logs/*
scraper/radio_scrape/radio_scrape/temp_audio/*
sample-data/images/*
