
.cardImgContainer {
    height:124px;
    max-width:222px;
    width:fit-content;
    display:block;
    margin:auto;
    
}

.cardImgPadded{
    margin:12px auto;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75); 
}