.subscribeOptionButtonContainer{ 
 
    width: 40px;
    height: 40px;
 
    display: inline-block; 
    
    button{
        width: 100%;
        height: 100%;
        // padding: 5px;
        display: block;
    }

    svg{
        width: 100%;
    }
}  