.epDate{
    font-size: .8em;
    color: var(--header-foreground-contrast-colour);
}

.title{
    margin: 0;
    color: var(--header-foreground-colour);
} 

.desc{
    
    padding: var(--card-padding);

    span a{
        color: var(--foreground-contrast-colour);
        font-weight: 800;
    } 
}