.swiperContainer :global {
  --swiper-navigation-bg-size: 44px;
  --swiper-navigation-icon-size: 18px;
  --swiper-navigation-top-offset: 46%;
  /* Navigation font start */
  /* Navigation font end */
}
.swiperContainer :global .swiper-button-prev,
.swiperContainer :global .swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: var(--swiper-navigation-bg-size);
  height: var(--swiper-navigation-bg-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--header-background-high-contrast-colour);
  border-radius: 50%;
  color: var(--header-foreground-contrast-colour);
  opacity: 0;
}
.swiperContainer :global .swiper-button-prev.swiper-button-disabled,
.swiperContainer :global .swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
}
.swiperContainer :global .swiper-button-prev.swiper-button-hidden,
.swiperContainer :global .swiper-button-next.swiper-button-hidden {
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiperContainer :global .swiper-button-prev,
.swiper-navigation-disabled .swiperContainer :global .swiper-button-next {
  display: none !important;
}
.swiperContainer :global .swiper-button-prev svg,
.swiperContainer :global .swiper-button-next svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.swiper-rtl .swiperContainer :global .swiper-button-prev svg,
.swiper-rtl .swiperContainer :global .swiper-button-next svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.swiperContainer :global .swiper-button-prev:hover,
.swiperContainer :global .swiper-button-next:hover {
  color: var(--brand-colour);
  background-color: var(--header-background-colour);
}
.swiperContainer :global .swiper-button-prev,
.swiperContainer :global .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.35);
}
.swiperContainer :global .swiper-button-next,
.swiperContainer :global .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  -webkit-box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.35);
          box-shadow: -2px 2px 3px 0px rgba(0, 0, 0, 0.35);
  left: auto;
}
.swiperContainer :global .swiper-button-lock {
  display: none;
}
.swiperContainer :global .swiper-initialized .swiper-button-prev, .swiperContainer :global .swiper-initialized .swiper-button-next {
  opacity: 1;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
.swiperContainer :global .swiper-initialized .swiper-button-prev.swiper-button-disabled, .swiperContainer :global .swiper-initialized .swiper-button-next.swiper-button-disabled {
  opacity: 0;
}
.swiperContainer :global .swiper-button-prev:after,
.swiperContainer :global .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-icon-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiperContainer :global .swiper-button-prev:after,
.swiperContainer :global .swiper-rtl .swiper-button-next:after {
  content: "prev";
  padding-right: 0.2em;
}
.swiperContainer :global .swiper-button-next,
.swiperContainer :global .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiperContainer :global .swiper-button-next:after,
.swiperContainer :global .swiper-rtl .swiper-button-prev:after {
  content: "next";
  padding-left: 0.2em;
}/*# sourceMappingURL=ShowCollection.module.css.map */