@import "../../../../../styles/abstracts/abstracts";

.container{
    display: flex;
    align-items: center;
}

.logoContainer{
    // padding: 5px;
    width: 36px;
    height: 36px;
    margin-right: 5px;

}
  
.logo{
    fill: var(--brand-colour);
    
    width: 100%;
    height: 100%;
} 

.siteName{
    color: var(--brand-colour);;
    font-size: 1.2em;
    display: none;
    @include mq('sm'){
        display: inherit;
    }
}