@import "../../../styles/abstracts/abstracts";

.container{
    height: 40px;
    width: 300px;
    margin: 0 20px;
    flex: 0 1 300px;
    display:flex;
    flex-direction:column;
    width:fit-content;
    justify-content:center;
    position:relative;
    z-index:90009;
    align-self:center;
    border-radius: var(--border-radius-pill);
    background-color: var(--background-contrast-colour);
}

.searchBar{
    display: flex;
    align-items: center; 
}

.searchButton{
    font-size: 1rem;
    flex: 0 0 px2em(40);
    height: 100%;
    padding: 10px;
    border-radius: var(--border-radius-pill) 0 0 var(--border-radius-pill);
    background-color: inherit;
    svg{
        width: px2em(20);
        fill: var(--foreground-contrast-colour);
    }
    &:hover{
        background-color: inherit;

    }
}

.input{
    max-width: calc(100% - px2em(80, $type: rem));
    font-size: 1.125em;
    flex: 1 1 auto;
    padding: 4px;
    background-color: transparent;
    color: var(--foreground-contrast-colour);
    border: 0;
    outline: 0; 
}

//styles for the dropdown
.dropdown{
    list-style: none;
    position:absolute;
    width: 100%;
    top: 100%;
    padding: 0;
    margin: 4px 0 0 0;
    z-index:9999;
    background-color: var(--header-background-high-contrast-colour);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px var(--border-contrast-colour);
}

.dropdownItem{
    padding: 10px;
}

.highlightedItem{
    background-color: var(--header-background-colour);
    // color: var(--foreground-contrast-colour);
    cursor: pointer;
}

.SearchPageLinkItem{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-colour);
    padding-right: 17px; //to maintain visual centeredness. Expanded from regular 10px, to compensate for padding on icon below. 
}

.searchListPageLinkIcon {
    width:40px;
    height: 40px;
    padding: 7px 7px 7px 7px;

    svg{
        width: 100%;
    }
}