.header{
    display:flex;
    justify-content:space-between;
    background-color: var(--header-background-high-contrast-colour);
    color: var(--header-foreground-colour);
    padding: 7px;
    align-items: center;
}

