
.tagContainer {
    padding: 5px 2px 0;
    display: flex;
    flex-wrap: wrap;
    font-size: .8em;
    background-color: var(--background-contrast-colour);
    // justify-content: space-evenly;
}

.tag{
    
    // border-radius: var(--border-radius-pill); 
    // color: var(--background-contrast-colour);
    // background-color: var(--foreground-contrast-colour);   
    // margin-right: 5px;
    min-width: 48px;
    margin-bottom: 5px;
    padding: 1px 3px;
}