
.cardImgContainer {
    height:124px; // This value needs to match up to the calculation for `displaySizes` in the component.
    max-width:222px; // this is based on the 16:9 image ratio used to determin when an image fills the width of the card vs needs padding.
    width:fit-content;
    display:block;
    margin:auto;
    
}

.cardImgPadded{
    // margin:12px auto; // This value needs to match up to the calculation for `displaySizes` in the component.
    padding:12px 0; // This value needs to match up to the calculation for `displaySizes` in the component.
    img{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75); 
    }       
}