@import "../../../../styles/abstracts/abstracts"; 

 .cardContainer {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(var(--card-size-rem), 1fr) );
    column-gap: 1.5em;
    row-gap: 3.5em;
    @include mq('xl'){
        grid-template-columns: repeat( auto-fill, minmax(var(--xl-card-size-rem), 1fr) );
    }
    @include mq('xxl'){
        grid-template-columns: repeat( auto-fill, minmax(var(--xxl-card-size-rem), 1fr) );
    }
}