h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0 0.5rem;
    
}
//Rem is preferred, but em allows for responsive scaling
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.00em; }
h5 { font-size: 0.83em; }
h6 { font-size: 0.67em; }