@import "../../../../styles/abstracts/abstracts";

.menuButton{
    flex: 0 0 40px;
    height: 40px;
    padding: 0;
}

.menuIcon{
    height: 100%;
    width: 100%;
    display: block;
    padding: 7px;

    svg{
        height: 100%;
        width: 100%;
    }


}

.mainMenuModalOverlay{
    position: absolute;
    display: flex;
    justify-content: center;
    inset: 50px 0 0;
    padding: 80px;
    color: var(--background-contrast-colour);
    background: var(--header-background-high-contrast-colour);
    font-size: 2em;
    line-height: 2;
    z-index: 1;
  }

.mainMenuModalContent{
    display: inline;
    background-color: transparent;
    height: fit-content;
    overflow: auto;
    div{
        display: inline;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: fit-content;
        margin: auto;
        li{
            width: fit-content;
        }
    }
}