@import "../../../../styles/abstracts/abstracts";

.showFeedContainer{
    padding: .5em;
}

.subLabel{
    text-align: center;
}



.feedAndCopyButtonContainer{
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    background-color: var(--background-high-contrast-colour);
    color: var(--foreground-contrast-colour);
    padding: 0 0 0 .25em;
    border-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    position: relative;
}

.rssIcon {
    display: flex;
}

.url{
    border: 1px var(--foreground-high-contrast-colour) solid;
    background: var(--background-contrast-colour);
    color: inherit;
    min-width: 33%;
    flex: auto;
    text-align: center;
    border-radius: 5px;
}

.copiedMessage{
    position: absolute;
    background-color: darkgreen;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1.5;
    border-radius: 2px;
}