.card{
    margin: 0 auto;
    // min-width: 21em; 
    width: 21em; 
    // @include mq('wide'){
    //     max-width: px2em(240);
    // }
    // @include mq('large'){
    //     max-width: px2em(250);
    // }
    
    border: 1px solid var(--foreground-contrast-colour);
    border-radius: .5em;
    overflow: hidden; //So children don't spill outside the border-radius
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}